<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-brand">
        <img src="/assets/app_icon.png" alt="Schuly" width="32" height="32" />
        <span>Schuly</span>
      </div>

      <div class="footer-cols">
        <div class="footer-col">
          <div class="footer-col-title">{{ 'footer.cols.project' | translate }}</div>
          <a href="https://github.com/schulydev/Schuly" target="_blank" rel="noopener">{{ 'footer.links.app' | translate }}</a>
          <a href="https://github.com/schulydev/SchulyBackend" target="_blank" rel="noopener">{{ 'footer.links.backend' | translate }}</a>
          <a href="https://github.com/schulydev/SchulyPlugins" target="_blank" rel="noopener">{{ 'footer.links.plugins' | translate }}</a>
          <a href="https://github.com/schulydev/SchulyPluginAbstractions" target="_blank" rel="noopener">{{ 'footer.links.sdk' | translate }}</a>
        </div>
        <div class="footer-col">
          <div class="footer-col-title">{{ 'footer.cols.resources' | translate }}</div>
          <a href="https://github.com/schulydev/Schuly/releases" target="_blank" rel="noopener">{{ 'footer.links.releases' | translate }}</a>
          <a href="https://github.com/schulydev/Schuly/issues" target="_blank" rel="noopener">{{ 'footer.links.issues' | translate }}</a>
          <a href="/#features">{{ 'footer.links.features' | translate }}</a>
          <a href="/#faq">{{ 'footer.links.faq' | translate }}</a>
          <a href="/#download">{{ 'footer.links.download' | translate }}</a>
        </div>
        <div class="footer-col">
          <div class="footer-col-title">{{ 'footer.cols.legal' | translate }}</div>
          <a routerLink="/impressum">{{ 'footer.links.impressum' | translate }}</a>
          <a routerLink="/privacy">{{ 'footer.links.privacy' | translate }}</a>
          <a routerLink="/terms">{{ 'footer.links.terms' | translate }}</a>
          <a href="https://buymeacoffee.com/pianonic" target="_blank" rel="noopener">{{ 'footer.links.coffee' | translate }}</a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>{{ 'footer.disclaimer' | translate }}</p>
      <p>{{ 'footer.copyright' | translate: { year: year } }} <fa-icon [icon]="faHeart" class="heart"></fa-icon></p>
    </div>
  </div>
</footer>
